{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'recetario/css/bootstrap.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'recetario/css/font.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'recetario/css/stylesheet.css' %}" type="text/css">
	<script src="{% static 'recetario/js/vendor/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'recetario/js/vendor/bootstrap.min.js' %}" type="text/javascript"></script>
	<title>{{ ingrediente.nombre }}</title>
</head>
<body>
	<header id="receta-header">
		<div class="container">
			<div class="row">
				<h1>{{ ingrediente.nombre }}
				{% if ingrediente.gluten %}
				<small> Contiene gluten</small>
				{% endif %}
				</h1>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<h3>Presente en:</h3>
			<div class="list-group">
			{% for receta in ingrediente.receta_set.all %}
				<a href="{% url 'recetario:detallereceta' receta.pk %}" class="list-group-item">
				<h4><span class="glyphicon glyphicon-ok-sign"></span> {{ receta.nombre }} <small>| {{ receta.categoria }}</small></h4>
				</a>
			{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>