{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'recetario/css/bootstrap.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'recetario/css/font.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'recetario/css/stylesheet.css' %}" type="text/css">
	<script src="{% static 'recetario/js/vendor/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'recetario/js/vendor/bootstrap.min.js' %}" type="text/javascript"></script>
	<title>{{ receta.nombre }}</title>
</head>
<body>
	<header id="receta-header">
		<div class="container">
			<div class="row">
				<h1>{{ receta.nombre }} <small>{{ receta.categoria.nombre }}</small></h1>
			</div>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="col-xs-6 col-sm-7 col-md-8 col-lg-8">
				<div class="row" align="center">
					<img class="img img-responsive img-rounded" src="/media/{{ receta.image }}" alt="No hay imagen" width="" height="auto">
				</div>
				<div id="preparacion-header" class="row">
					<h2 class="text-center">Preparación</h2>
				</div>
				<div id="preparacion-body" class="row">
					<p>{{ receta.preparacion }}</p>
				</div>
			</div>
			<div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
				<div id="ingredientes-header" class="row">
					<h2 class="text-center">Ingredientes</h2>
				</div>
				<div id="ingredientes-list" class="row">
					<ul class="list-group">
					{% for detalle in receta.detallereceta_set.all %}
						<li class="list-group-item"><span class="glyphicon glyphicon-plus"></span> {{ detalle.ingrediente }} <small>{{ detalle.cantidad }}</small></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
</body>
</html>