{% load staticfiles %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Anton' type='text/css'>
		<link rel="stylesheet" href="{% static 'plquery/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'plquery/css/main.css' %}">
		<link href="{% static 'plquery/css/select2/select2.min.css' %}" rel="stylesheet"/>
		<script src="{% static 'plquery/js/vendor/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'plquery/js/select2/select2.min.js' %}"></script>
		<script src="{% static 'plquery/js/vendor/modernizr-2.8.3.min.js' %}"></script>
	</head>
	<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<header>
			<div class="container">
				<div class="row cabecera">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>Recetario</h1>
					<h4>Prolog</h4>
					</div>
					<div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
						<h2>Trabajo Final</h2>
						<h4>InCo</h4>
					</div>
				</div>
			</div>
		</header>
        
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Cambiar Navegacion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Recetario <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'plquery:index' %}">Inicio</a></li>
					<li><a href="{% url 'plquery:principal' %}">Principal</a></li>
					<li><a href="{% url 'recetario:listarecetas' %}">Recetas</a></li>
					<li><a href="{% url 'recetario:listaingredientes' %}">Ingredientes</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
					<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-default">Buscar</button>
				</form>   
			</div>
		</nav>

		<section>
		{% block content %}
		{% endblock %}
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-6 col-sm-8 col-md-9 col-lg-9">
						<h5>Integrantes:</h5>
							<ul>
								<li>Colina, Fernando Enrique - LU: 5556</li>
								<li>Verrastro, Diego Mariano - LU: 5509</li>
								<li>Vidal, Carla - LU:5543</li>
							</ul>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
						<h6>Trabajo Final</h6>
						<h6>Ingeniería del Conocimiento</h6>
						<h6>Facultad de Ingeniería</h6>
						<h6>U.N.Ju.</h6>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>

<script>window.jQuery || document.write('<script src="{% static 'plquery/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
<script src="{% static 'plquery/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'plquery/js/main.js' %}"></script>
{% block js %}
{% endblock %}