{% extends 'plquery/base.html' %}

{% block content %}
<div id="principal" class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-md-5 col-lg-4">
			<h3>Mirando en la heladera</h3><br>
			<form role="form" method="get" action="{% url 'plquery:resultados' %}">
			<div class="form-group">
				<label for="inputIngr">¿Qué Ingredientes tienes...?</label>
				<select id="inputIngr" name="ingredientes_ids" style="width: 100%" multiple="multiple" class="form-control js-example-basic-multiple js-example-tokenizer">
					{% for ingrediente in ingredientes_list %}
					<option value="{{ ingrediente.pk }}">{{ ingrediente }}</option>
					{% endfor %}
				</select>
					<script type="text/javascript">
						$(document).ready(function() {
						$("#inputIngr").select2({
							placeholder: 'Elegir ingredientes',
							allowClear: true,
							language: "es",
							minimumResultsForSearch: 8
							});
						});
					</script>
			</div>
			<br>
			<div class="form-group">
				<label for="inputCat">¿Qué deseas preparar...?</label>
					<div class="radio">
						<label>
							<input type="radio" name="categoria_id" id="inputCat" value="0" checked="True">
							Lo que venga
						</label>
					</div>
					{% for categoria in categorias_list %}
					<div class="radio">
						<label>
							<input type="radio" name="categoria_id" id="inputCat" value="{{ categoria.pk }}">
							{{ categoria }}
						</label>
					</div>
					{% endfor %}
			</div>
			<br>

			<div class="form-group">
				<label for="inputCel">¿Eres celíaco...?</label>
					<div class="btn-group" data-toggle="buttons" id="inputCel">
						<label class="btn btn-info active">
							<input type="radio" name="optCel" value="optNo" autocomplete="off" checked>No
						</label>
						<label class="btn btn-danger">
							<input type="radio" name="optCel" value="optSi" autocomplete="off">Sí
						</label>
					</div>
			</div>
			</form>
		</div>
		<div id="resultados" class="col-xs-6 col-sm-7 col-md-7 col-lg-8">

		</div>

	</div>
</div><br>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function () {
		$('#inputIngr').on('change', actualizar);
		$(':radio[name=categoria_id]').on('change', actualizar);
		$(':radio[name=optCel]').on('change', actualizar);

		function actualizar() {
			var ingredientes = $('#inputIngr').val();
			var categoria = $(':radio[name=categoria_id]:checked').val();
			var celiaco = $(':radio[name=optCel]:checked').val();

			$.ajax({
				traditional: true,
				data: {
						'ingredientes_ids': ingredientes, 
						'categoria_id': categoria,
						'celiaco': celiaco 
						},
				url: "{% url 'plquery:busqueda_ajax' %}",
				type: 'get',
				success: function(resultadoshtml) {
					$('#resultados').html(resultadoshtml);
				},
				error: function () {
					console.log('ALGO ANDA MAL');
				}
			});
		}
	});
</script>
{% endblock %}